<ion-view id="billingInformation" view-title="{{:: app.dictionary.billingInformation}}">

  <ion-content>

    <!-- Payment Choice-->
    <ion-list>

      <!--PayPal Option-->
      <ion-radio ng-model="billingInformationCtrl.paymentChoice" ng-value="'PayPal'">
        <i class="pay-pal bf-cc-paypal"></i>
      </ion-radio>

      <!--Visa Option-->
      <ion-radio ng-model="billingInformationCtrl.paymentChoice" ng-value="'Visa'">
        <i class="visa bf-cc-visa"></i>
      </ion-radio>

    </ion-list>

    <!--Approve Button-->
    <div class="padding">
      <button class="button button-outline button-block button-dark"
              ng-click="billingInformationCtrl.approveBillingInformation()">
        {{:: app.dictionary.approve}}
      </button>
    </div>
  </ion-content>

</ion-view>
