<ion-modal-view id="billingInformation">

  <!--Header-->
  <ion-header-bar>
    <h1 class="title header-title">{{:: app.dictionary.billingInformation}}</h1>
    <button class="button button-clear" ng-click="loadCardCtrl.closeBillingInformationModal()">
      <i class="ion-close-round"></i>
    </button>
  </ion-header-bar>


  <!--Pass Code Modal Setting-->
  <ion-content>

    <!-- Payment Choice-->
    <ion-list>

      <!--PayPal Option-->
      <ion-radio ng-model="loadCardCtrl.paymentChoice" ng-value="'PayPal'" >
        <i class="pay-pal bf-cc-paypal"></i>
      </ion-radio>

      <!--Visa Option-->
      <ion-radio ng-model="loadCardCtrl.paymentChoice" ng-value="'Visa'">
        <i class="visa bf-cc-visa"></i>
      </ion-radio>

    </ion-list>

    <!--Approve Button-->
    <button class="button button-outline button-block button-dark" ng-click="loadCardCtrl.approveBillingInformation()">
      {{:: app.dictionary.approve}}
    </button>

  </ion-content>

</ion-modal-view>
