<ion-modal-view id="logIn">

  <!--Header-->
  <ion-header-bar>
    <h1 class="title">{{:: app.dictionary.login}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">
        <i class="ion-close-round"></i>
      </button>
    </div>
  </ion-header-bar>

  <!--Login-->
  <ion-content>
    <form ng-submit="doLogin()">

      <ion-list>

        <!--Email-->
        <label class="item item-input item-stacked-label">
          <span  class="login-input-label input-label">{{:: app.dictionary.email}}</span>
          <input class="text-direction" type="text" placeholder="{{:: app.dictionary.email}}">
        </label>

        <!--Password-->
        <label class="item item-input item-stacked-label">
          <span class="login-input-label input-label">{{:: app.dictionary.password}}</span>
          <input class="text-direction" type="password" placeholder="{{:: app.dictionary.password}}">
        </label>

        <!--Login button-->
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{:: app.dictionary.enter}}</button>
        </label>

        <!--Forgot Password-->
        <button class="button button-clear button-calm forgot-password">
          {{:: app.dictionary.forgotPassword}}
        </button>
      </ion-list>

    </form>
  </ion-content>
</ion-modal-view>
