<ion-view id="login" view-title="{{:: app.dictionary.login}}">
  <ion-content>

    <div class="list list-inset">

      <!--Email-->
      <label class="item item-input">
        <input class="text-direction right-input-padding" type="email" placeholder="{{:: app.dictionary.email}}">
        <i class="icon ion-email input-icon"></i>
      </label>

      <!--Password-->
      <label class="item item-input">
        <input class="text-direction right-input-padding" type="password" placeholder="{{:: app.dictionary.password}}">
        <i class="icon ion-locked input-icon"></i>
      </label>

    </div>

    <div class="padding">
      <!--Login button-->
      <button class="button button-outline button-block button-dark" type="button" ng-click="loginCtrl.onLogInClick()">{{:: app.dictionary.enter}}</button>


        <div class="login-center">
        <!--Forgot Password-->
        <a class="button button-clear button-positive forgot-password">
          {{:: app.dictionary.forgotPassword}}
        </a>

        <div class="login-separator"></div>

        <!--Forgot Registration-->
        <a class="button button-clear button-positive forgot-password" href="#/app/registration">
          {{:: app.dictionary.registration}}
        </a>

      </div>
    </div>


  </ion-content>
</ion-view>


