<ion-view id="sendCard" view-title="{{:: app.dictionary.sendCard}}">
  <ion-content>

    <ion-list>

      <!--Mobile-->
      <label class="item item-input item-stacked-label">
        <span class=" send-card-input-label input-label">{{:: app.dictionary.mobile}}</span>
        <input class="text-direction" type="number" placeholder="{{:: app.dictionary.mobile}}">
      </label>

      <!--Amount-->
      <label class="item item-input item-stacked-label">
        <span class=" send-card-input-label input-label">{{:: app.dictionary.amount}}</span>
        <input class="text-direction" type="number" placeholder="{{:: app.dictionary.amount}}">
      </label>

      <!--Greeting-->
      <label class="item item-input item-stacked-label">
        <span class=" send-card-input-label input-label">{{:: app.dictionary.greeting}}</span>
        <textarea class="text-direction send-card-textarea" placeholder="{{:: app.dictionary.greeting}}"></textarea>
      </label>

    </ion-list>

    <!--Send Button-->
    <div class="padding">
      <button class="button button-outline button-block button-dark"
              ng-click="sendCardCtrl.onSendClick()">
        {{:: app.dictionary.send}}
      </button>
    </div>

  </ion-content>
  </ion-content>
</ion-view>
