<ion-view id="settings" view-title="{{:: app.dictionary.settings}}">
  <ion-content>
    <ion-list>

      <!--Advanced Settings Divider-->
      <div class="item item-divider">
        {{:: app.dictionary.advancedSettings}}
      </div>

      <!--Pass Code-->
      <ion-item ng-click="settingsCtrl.openPassCodeModal()">
        <i class="ion-grid"></i>
        {{:: app.dictionary.passCode}}
      </ion-item>

      <!--Language-->
      <ion-item>
        <i class="ion-earth"></i>
        {{:: app.dictionary.language}}
      </ion-item>



      <!--Advanced Account Divider-->
      <div class="item item-divider">
        {{:: app.dictionary.advancedAccount}}
      </div>


    </ion-list>
  </ion-content>
</ion-view>
